@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: 'Roboto', 'Outfit', sans-serif;
  font-weight: 500;
  /* background-color: #F8FAFC; */
}

body {
  background-color: #F8FAFC;
}

